In [6]:
import numpy as np, pandas as pd

from selectinf.randomized.drop_losers import drop_losers
data = np.array([0.2,3,2.3,3,4,5,0,-1] + list(np.random.standard_normal(7)))
df = pd.DataFrame({'arm':[4,4,4,2,2,2,3,3,4,4,2,2,2,2,2], 'stage':[0,0,0,0,0,0,0,0,1,1,1,1,1,1,1], 'data':data})
df

    arm  stage      data
0     4      0  0.200000
1     4      0  3.000000
2     4      0  2.300000
3     2      0  3.000000
4     2      0  4.000000
5     2      0  5.000000
6     3      0  0.000000
7     3      0 -1.000000
8     4      1 -0.813845
9     4      1 -0.768368
10    2      1  0.350801
11    2      1  0.463823
12    2      1 -0.902218
13    2      1  1.131737
14    2      1 -1.907540

In [7]:
grouped = df.groupby('arm')
grouped.mean()['data'], grouped.std()['data']

(arm
 2    1.392075
 3   -0.500000
 4    0.783557
 Name: data, dtype: float64, arm
 2    2.407392
 3    0.707107
 4    1.768681
 Name: data, dtype: float64)

In [8]:
grouped_stage = df.groupby('stage')
for a in grouped_stage:
    print(a)

(0,    arm  stage  data
0    4      0   0.2
1    4      0   3.0
2    4      0   2.3
3    2      0   3.0
4    2      0   4.0
5    2      0   5.0
6    3      0   0.0
7    3      0  -1.0)
(1,     arm  stage      data
8     4      1 -0.813845
9     4      1 -0.768368
10    2      1  0.350801
11    2      1  0.463823
12    2      1 -0.902218
13    2      1  1.131737
14    2      1 -1.907540)

In [9]:
dtl = drop_losers(df, K=2)

arm
2    2.407392
3    0.707107
4    1.768681
Name: data, dtype: float64
arm
2    2.407392
4    1.768681
Name: data, dtype: float64
-0.5 loser
arm
2    1.392075
4    0.783557
Name: data, dtype: float64 means
arm
2    4.000000
4    1.833333
Name: data, dtype: float64
(array([[1.207403  , 0.        ],
       [0.        , 0.41709745]]), array([[0.82822388, 0.        ],
       [0.        , 2.39752125]]))
[[1.207403   0.        ]
 [0.         0.41709745]]
[[-1. -0.]
 [-0. -1.]] [[-1. -0.]
 [-0. -1.]]
[0.5 0.5] [0.5 0.5]

In [10]:
dtl.summary()

     raw estimate     lower     upper    pvalue
arm
2        1.392075  0.266412  2.709993  0.077742
4        0.783557  0.812720  2.693072  0.217141